* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: bisque;
}

.room_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.outer_frame {
    margin: 50px 100px 0 100px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    flex: 1;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.grid_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
}